<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gender/Scholarship</title>
    <link rel="stylesheet" type = "text/css" href="static/appstyle2.css">
</head>
<body>
<div class = "topbar">
    <img style="max-height: 90px; width: 100px" src="static/image/hosp_logo.png" id="logo">
    <a  href = "/doctor" class="btn">Staff Homepage</a>
    <a  href = "/dashboard-home" class="btn">Dashboard</a> <!-- This will include Dashboard Later-->
    <a  href = "/KPI" class="btn">KPI</a>
    <a  href = "/schedule" class="btn">Schedule</a>
    <a  href = "/search" class="btn">Search</a>
    <a  href = "/filter" class="btn">Top No Shows</a>
    <a  href = "/" id="logout" class="btn"> Log Out </a>
</div>

<div class = "fixedBox">
    <h1>Dashboard</h1>
</div>
<br>
<div class="gfg">
<img src="/static/image/Show-up across Diabetes.png"/>
<img src="/static/image/Show-up across Handicap.png"/>
</div>
</body>
</html>