<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard: Home</title>
    <link rel="stylesheet" type = "text/css" href="static/appstyle1.css">
</head>
<body>
<div class = "topbar">
    <img style="max-height: 90px; width: 100px" src="static/image/hosp_logo.png" id="logo">
    <a  href = "/doctor" class="btn">Staff Homepage</a>
    <a  href = "/dashboard-home" class="btn">Dashboard</a> <!-- This will include Dashboard Later-->
    <a  href = "/KPI" class="btn">KPI</a>
    <a  href = "/schedule" class="btn">Schedule</a>
    <a  href = "/search" class="btn">Search</a>
    <a  href = "/filter" class="btn">Top No Shows</a>
    <a  href = "/" id="logout" class="btn"> Log Out </a>
</div>
<div class = "fixedBox2">
    <h1>Select the dashboard for viewing</h1>
</div>
<div class="column">
    <div class="middle">
        <div class="container">
            <img src="https://img.freepik.com/free-photo/statistic-documents-with-businessman-blurred-background_1098-293.jpg?w=996"
                    class="image" style="height: 170px; width: 280px">
            <a  href = "/dashboard-smoker-drinks" class="btn" id="dhp">Smoker/Drinks</a>
        </div>
        <div class="container">
            <img src="https://img.freepik.com/free-photo/close-up-pen-with-tablet-table_1098-3488.jpg?t=st=1649862342~exp=1649862942~hmac=8ee45c731c1f69af40e475ad3518549d277a2f832dd9ea7b967ab7eb193a4043&w=996"
                    class="image" style="height: 170px; width: 280px">
            <a  href = "/dashboard-diabetes-handicap" class="btn" id="dhp">Diabetes/Handicap</a>
        </div>
        <div class="container">
            <img src="https://img.freepik.com/free-photo/casual-business-man-working-with-laptop_158043-19.jpg?w=996"
                    class="image" style="height: 170px; width: 280px">
            <a  href = "/dashboard-waitingtime-age" class="btn" id="dhp">Waiting Time/Age</a>
        </div>
    </div>
</div>
            <br>
<div class="column">
    <div class="middle2">
        <div class="container">
            <img src="https://img.freepik.com/free-photo/ipad-with-diagram_1098-192.jpg?t=st=1649862233~exp=1649862833~hmac=d175a1702973b631a9b6c5993c811a6f253e7d66932918dd530f8705f648c7af&w=996"
                    class="image" style="height: 170px; width: 280px">
            <a  href = "/dashboard-gender-scholarship" class="btn" id="dhp">Gender/Scholarship</a>
        </div>
        <div class="container">
            <img src="https://img.freepik.com/free-photo/man-giving-business-presentation-using-high-technology-digital-pen_53876-104783.jpg?t=st=1649862281~exp=1649862881~hmac=3f533e06438f7691d588976fc0b1fb0a97d78d2d43ae5571e55811f4b3a04ef5&w=996"
                    class="image" style="height: 170px; width: 280px">
            <a  href = "/dashboard-hyper-tuber" class="btn" id="dhp">Hypertension/Tuberculosis</a>
        </div>
    </div>
</div>
</body>
</html>


