<!DOCTYPE html>
<div lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" type = "text/css" href="static/homepage.css">
</head>

<div class = "topbar">
    <img style="max-height: 90px; width: 100px" src="static/image/hosp_logo.png" id="logo">
    <a  href = "/" class="btn">Homepage</a>
    <a  href = "/patientlogin" class="btn">New Appointment</a>
    <a  href = "/employeelogin" class="btn">Employee Login</a>
    <a  href = "/patientlogin" class="btn">Patient Login</a>
</div></br>
<div class="container">
    <div class="float-container">
        <div class="slider">
            <span id="slide-1"></span>
            <span id="slide-2"></span>
            <span id="slide-3"></span>
            <div class="image-container">
                <img src="https://www.singhealth.com.sg/PublishingImages/tm-nov21.jpg" class="slide" width="33.33%" height="460px"/>
                <img src="https://www.singhealth.com.sg/PublishingImages/find-med.jpg" class="slide" width="33.33%" height="460px"/>
                <img src="https://www.singhealth.com.sg/PublishingImages/Lists/Carousel%20Box/AllItems/cycling-doctor-sh-banner-ver2.jpg" class="slide" width="33.33%" height="460px"/>
            </div>
            <div class="buttons">
                <a href="#slide-1"></a>
                <a href="#slide-2"></a>
                <a href="#slide-3"></a>
            </div>
        </div>
    </div>
</div>

<br>

</div>

<div class="container">
    <div class="footer">
        <br>
        <h2>SinkHelth Cares for You with a Full Range of Medical Services</h2>
            <a  href="https://www.sgh.com.sg/" class="logo"><img src="https://www.singhealth.com.sg/PublishingImages/logos/ico-sgh-full.png"></a>
            <a  href="https://www.cgh.com.sg/" class="logo"><img src="https://www.singhealth.com.sg/PublishingImages/logos/ico-cgh-full.png"></a>
            <a  href="https://www.skh.com.sg/" class="logo"><img src="https://www.singhealth.com.sg/PublishingImages/logos/ico-skh-full.png"></a>
            <a  href="https://www.kkh.com.sg/" class="logo"><img src="https://www.singhealth.com.sg/PublishingImages/logos/ico-kkh-full.png"></a>
            <a  href="https://www.nccs.com.sg/" class="logo"><img src="https://www.singhealth.com.sg/PublishingImages/logos/ico-nccs-full.png"></a>
            <a  href="https://www.ndcs.com.sg/" class="logo"><img src="https://www.singhealth.com.sg/PublishingImages/logos/ico-ndcs-full.png"></a>
            <br>
            <br>
            <a  href="https://www.nhcs.com.sg/" class="logo1"><img src="https://www.singhealth.com.sg/PublishingImages/logos/ico-nhcs-full.png"></a>
            <a  href="https://www.nni.com.sg/" class="logo1"><img src="https://www.singhealth.com.sg/PublishingImages/logos/ico-nni-full.png"></a>
            <a  href="https://www.snec.com.sg/" class="logo1"><img src="https://www.singhealth.com.sg/PublishingImages/logos/ico-snec-full.png"></a>
            <a  href="https://www.singhealth.com.sg/" class="logo1"><img src="https://www.singhealth.com.sg/PublishingImages/logos/ico-sch-full.png"></a>
            <a  href="https://polyclinic.singhealth.com.sg/" class="logo1"><img src="https://www.singhealth.com.sg/PublishingImages/logos/ico-shp-full.png"></a>
    </div>
</div>

<div class="container">
    <div class="column">
      <div class="column1">
        <img src="https://www.singhealth.com.sg/PublishingImages/features/rhs-480x330.jpg" style="width:80%">
        <br>
          <div class="textbox1">
            <div class="textmessage">
                <h3>Regional Health System</h3>
                <p class="b">Beyond care in hospitals, patients often need follow-up care in the community. To achieve this, SinkHelth works closely with care providers across the continuum to enable patients to be cared for adequately at home and in the community.</p>
            </div>
          </div>
      </div>
      <div class="column1">
        <img src="https://www.singhealth.com.sg/PublishingImages/features/sddc-480x330.jpg" style="width:80%">
        <br>
          <div class="textbox1">
            <div class="textmessage">
                <h3>SinkHelth Disease Centres</h3>
                <p class="b">The SinkHelth Duke-NUS Disease Centres (SDDCs) brings together specialist expertise within SinkHelth into dedicated centres to offer integrated and multidisciplinary care at multiple sites across SinkHelth institutions all around Singapore.</p>
            </div>
          </div>
      </div>
      <div class="column1">
        <img src="https://www.singhealth.com.sg/PublishingImages/features/e-services.png" style="width:80%">
        <br>
          <div class="textbox1">
            <div class="textmessage">
                <h3>SinkHelth E-services</h3>
                <div id="bulletpoint">
                    <ul>
                        <li>Manage appointments</li>
                        <li>Pay bills (Coming Soon)</li>
                        <li>Order medicines (Coming Soon)</li>
                        <li>Register for today's clinic visit (Coming Soon)</li>
                        <li>Customer Service (Coming Soon)</li>
                        <li>More Services </li>
                    </ul>
                </div>
            </div>
          </div>
      </div>
    </div>
</div>

</div>
</body>
</html>