<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KPI</title>
    <link rel="stylesheet" type = "text/css" href="static/appstyle1.css">
</head>
<body>
<div class = "topbar">
    <img style="max-height: 90px; width: 100px" src="static/image/hosp_logo.png" id="logo">
    <a  href = "/doctor" class="btn">Staff Homepage</a>
    <a  href = "/dashboard-home" class="btn">Dashboard</a> <!-- This will include Dashboard Later-->
    <a  href = "/KPI" class="btn">KPI</a>
    <a  href = "/schedule" class="btn">Schedule</a>
    <a  href = "/search" class="btn">Search</a>
    <a  href = "/filter" class="btn">Top No Shows</a>
    <a  href = "/" id="logout" class="btn"> Log Out </a>
</div>
<br>
<div class = "fixedBox2">
    <p style="text-align:center; font-size: 28px;"><strong>KPI Target =<span class = orange> below 20%</span></strong> </p>
</div>
<div class =left2>
    <img src="/static/image/KPI for the month.png" width=35%, height=auto/>
    {% if KPI_month > 20 %}
    <p>
        The no show percentage for the month is <strong> <span class = red> {{ KPI_month }}%</span> </strong> <br>
        The clinic should strive to reduce the no show percentage to below <strong> 20% </strong> next month
    </p>
    {% else %}
        <p>
            The no show percentage for the month is <strong> <span class = green> {{ KPI_month }}% </span> </strong> <br>
            Keep up the good work!
        </p>
    {% endif %}
</div>
<div class =left3>
    <img src="/static/image/KPI for the year.png" width=35%, height=auto/>
    <img src="/static/image/KPI till date.png" width=35%, height=auto/>
</div>
<div class =left2>
    <p>
    The no show percentage for the month is <strong> {{ KPI_month }}% </strong>compared to
        <strong> {{ KPI_year }}% </strong> for the year and <strong> {{ KPI_tilldate }}% </strong> till date
    </p>
</div>
</body>
</html>